body {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    text-align: center;
}

header, #proximamente {
    margin: 40px auto;
    font-family: 'Amatic SC', cursive;
    filter: drop-shadow(0 0 2px #000);
}

#macetero {
  margin: 20px auto 10px auto;
  width: 100%;
  max-width: 586px;
  height: auto;
}

h1 {
    margin: 0;
    font-size: 16vmin;
    font-weight: 400;
}

header p {
    margin: 0;
    font-size: 12vmin;
}

iframe {
    display: block;
    margin: 100px auto;
    width: 569px;
    height: 315px;
    max-width: 90vw;
    max-height: 50vw;
    border: 2px solid #999;
    box-sizing: border-box;
}

#proximamente {
    margin: 40px auto;
    font-size: 10vmin;
}