body {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
    text-align: center;
}

header, #proximamente {
    margin: 40px auto;
    font-family: 'Amatic SC', cursive;
    line-height: 15vw;
    filter: drop-shadow(0 0 2px #ffd700);
}

h1 {
    margin: 0;
    font-size: 15vw;
    font-weight: 400;
}

header p {
    margin: 0;
    font-size: 11.7vw;
}

iframe {
    display: block;
    margin: 40px auto;
    width: 569px;
    height: 315px;
    max-width: 94vw;
    max-height: 52.25vw;
    border: 2px solid #999;
    box-sizing: border-box;
}

#proximamente {
    margin: 40px auto;
    font-size: 10vw;
}